# Statistical Methods

In [16]:
import pandas as pd
import numpy as np
import statistics 
import pandasql as ps


class StatisticalFunctions:
    def __init__(self, df):
        self.df = df
        
    def getCount(self):
        return self.df.count()
    
    def getShape(self):
        shape = self.df.shape
        return {"rows":shape[0],"columns":shape[1]}
      
    def getQuantiles(self,column):
        return {"Q1":self.df[column].quantile(0.25),"Q2":self.df[column].quantile(0.75)}
    
    def getMean(self,column):
        return np.mean(self.df[column])

    #It works after removig all the NaN values
    def getFMean(self,column):
        return statistics.harmonic_mean(self.df[column])

    def getMedian(self,column):
        return statistics.median(self.df[column])

    def getLowMedian(self,column):
        return statistics.median_low(self.df[column])
    
    def getHighMedian(self,column):
        return statistics.median_high(self.df[column])
    
    def getGroupedMedian(self,column):
        return statistics.median_grouped(self.df[column])
    
    def mode(self,column):
        try:
            return statistics.mode(self.df[column])
        except:
            print("either There is no mode, or more than one")
    
    #Measures of spread
    #These functions calculate a measure of how much the population or sample tends to deviate from the typical or average values.
    #mu – This parameter is an optional. It is the mean of given data. 
    #If this parameter is missing or None, the mean of data is automatically calculated
    #Return the sample standard deviation 
    def pstdev(self,column, mu = None):
        return statistics.pstdev(self.df[column])
    
    #Retun the population standard deviation 
    def stdev(self,column, mu = None):
        return statistics.stdev(self.df[column])
    
    #Row standard deviation of the dataframe
    def stdevRow(self, mu = None):
        return self.df.std(axis=1)
    
    def variance(self,column, xbar=None):
        return statistics.variance(column)
    
    def pVariance(self,column, xbar=None):
        return statistics.pvariance(column)

In [17]:
df=pd.DataFrame({'salary':[1,2,33,4,22,41,100,3,7,14,200,23,313],'age':[10,11,12,15,40,90,8,20,17,19,35,np.nan,np.nan],'feature':[10,22,43,44,2,45,10,23,71,34,20,2,33]})
sF = StatisticalFunctions(df)
print(sF.stdevRow())
print(sF.mode("salary"))
#[1,2,3,4,2,4,100,3,7,4,200,2,33]

0       5.196152
1      10.016653
2      15.821926
3      20.663978
4      19.008770
5      27.209067
6      52.548390
7      10.785793
8      34.428670
9      10.408330
10     99.874922
11     14.849242
12    197.989899
dtype: float64
Oops! There is no mode
None

# Combining Datasets: Merge and Join

In this section, we will get over on how and when to combine our data in Pandas with:

- merge() for combining data on common columns or indices

When you want to combine data objects based on one or more keys in a similar way to a relational database, merge() is the tool you need. More specifically, merge() is most useful when you want to combine rows that share data.
- join() for combining data on a key column or an index

While merge() is a module function, .join() is an object function that lives on your DataFrame. This enables you to specify only one DataFrame, which will join the DataFrame you call .join() on.
Under the hood, .join() uses merge(), but it provides a more efficient way to join DataFrames than a fully specified merge() call. 
- concat() for combining DataFrames across rows or columns

Concatenation is a bit different from the merging techniques you saw above. With merging, you can expect the resulting dataset to have rows from the parent datasets mixed in together, often based on some commonality. Depending on the type of merge, you might also lose rows that don’t have matches in the other dataset.
With concatenation, your datasets are just stitched together along an axis — either the row axis or column axis.

In [204]:
class CombiningDataSet:
    def __init__(self, df1,df2,df3,df4):
        self.df1 = df1
        self.df2 = df2
        self.df3 = df3
        self.df4 = df4
        
    def mergeOneToOne(self):
        return pd.merge(self.df1, self.df2)
    
    #join =>{inner,outer,left,right}
    def mergeOnJoin(self,columns,join="outer"):
        return pd.merge(self.df1,self.df2,how=join,on=columns)
    
    def mergeOnIndex(self):
        return pd.merge(self.df1,self.df2,left_index=True, right_index=True)
    
    #In case, where two input DataFrames have conflicting column names
    def mergeBySuffix(self,column,suffixes=["_L", "_R"]):
         return pd.merge(self.df1,self.df2,on=column,suffixes=suffixes)
            
    #axis : {0, 1, …}, default 0
    #join : {‘inner’, ‘outer’}, default ‘outer’
    #ignore_index : boolean, default False. If True, do not use the index values on the concatenation axis. 
    def concat(self,frames,axis=0,join="outer",ignore_index=False, keys=None,sort=True):
        return pd.concat(frames,axis=axis,join=join, ignore_index=ignore_index, keys=keys,sort=sort)
    
    def appendRow(self,row,ignore_index=True):
        return self.df1.append(row, ignore_index=True)
    
    def groupBy(self,columns):
        return self.df1.groupby(columns)
    
    def groupByFilter(self,groupedDT,column,value):
        return groupedDT.filter(lambda x : x[column].mean() > value)        
    
    def aggrGroupedDT(self,groupedData):
        return groupedData.agg([np.sum, np.mean, np.std,np.max,np.min,np.median,np.var,"count"])
    
    #Index level may be specified as keys or names
    def groupByLevelMean(self,level=0):
        return self.df1.groupby(level=0).mean()
    
    def groupByLevelMin(self,level=0):
        return self.df1.groupby(level=0).min()
    
    def groupByLevelMax(self,level=0):
        return self.df1.groupby(level=0).max()
    
    def groupByLevelSum(self,level=0):
        return self.df1.groupby(level=0).sum()
    
    def groupByLevelCount(self,level=0):
        return self.df1.groupby(level=0).count()
    
    def groupByLevelMedian(self,level=0):
        return self.df1.groupby(level=0).median()
    
    #Reshaping by stacking and unstacking    
    def stack(self):
        return self.df1.stack()
    
    def unstack(self):
        return self.df1.unstack()
    
    #Transposition 
    def transpose(self):
        return self.df1.transpose()
    
    #Arithmetic operations
    def add(self,value):
        return self.df1+value
    
    def addDfToDt(self):
        return self.df1*self.df2
    
    def multiplyByValue(self,value):
        return self.df1*value
    
    def extract(self,value):
        return value/self.df1
    
    def power(self,value):
        return self.df1**value
    
    def operationsOnColumn(self,value,column,operation):
        if operation=="+":
            self.df1[column]=self.df1[column]+value
        elif operation=="*":
            self.df1[column]=self.df1[column]*value 
        elif operation=="-":
            self.df1[column]=self.df1[column]-value
        elif operation=="**":
            self.df1[column]=self.df1[column]**value
        elif operation=="/":
            self.df1[column]=self.df1[column]/value
        return self.df1
    
    def query(self,q):    
        return ps.sqldf(q, locals())
    
    def querySQL(self,q,con):
        return pd.read_sql_query(q,con)

In [164]:
d1 = {'Customer_id':pd.Series([1,2,3,4,5,6]),
  'Product':pd.Series(['Oven','Oven','Oven','Television','Television','Television'])}
df1m = pd.DataFrame(d1)
 
d2 = {'Customer_id':pd.Series([2,4,6,7,8]),
    'State':pd.Series(['California','California','Texas','New York','Indiana'])}
df2m = pd.DataFrame(d2)


df1 = pd.DataFrame({'employee': ['Bob', 'Jake', 'Lisa', 'Sue'],
                    'group': ['Accounting', 'Engineering', 'Engineering', 'HR']})

df2 = pd.DataFrame({'employee': ['Lisa', 'Bob', 'Jake', 'Sue'],
                    'hire_date': [2004, 2008, 2012, 2014]})

df3 = pd.DataFrame({'name': ['Bob', 'Jake', 'Lisa', 'Sue'],
                    'rank': [1, 2, 3, 4]})

df4 = pd.DataFrame({'name': ['Bob', 'Jake', 'Lisa', 'Sue'],
                    'rank': [3, 1, 4, 2]})

df1a = df1.set_index('employee')
df2a = df2.set_index('employee')


df1c = pd.DataFrame({'A': ['A10', 'A13', 'A12', 'A33'],
                    'B': ['B10', 'B11', 'B12', 'B13'],
                    'C': ['C20', 'C21', 'C22', 'C23'],
                    'D': ['D0', 'D1', 'D22', 'D23']},
                 index=[0, 1, 2, 3])

df2c = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
                    'B': ['B4', 'B5', 'B6', 'B7'],
                    'C': ['C4', 'C5', 'C6', 'C7'],
                    'D': ['D4', 'D5', 'D6', 'D7']},
                   index=[4, 5, 6, 7])

df3c = pd.DataFrame({'A': ['A8', 'A9', 'A10', 'A11'],
                    'B': ['B8', 'B9', 'B10', 'B11'],
                    'C': ['C8', 'C9', 'C10', 'C11'],
                    'D': ['D8', 'D9', 'D10', 'D11']},
                   index=[8, 9, 10, 11])

df4c = pd.DataFrame({'B': ['B2', 'B3', 'B6', 'B7'],
                    'D': ['D2', 'D3', 'D6', 'D7'],
                    'F': ['F2', 'F3', 'F6', 'F7']},
                    index=[2, 3, 6, 7])

dfg = pd.DataFrame({
    'value':[20.45,22.89,32.12,111.22,33.22,100.00,99.99],
    'product':['table','chair','chair','mobile phone','table','mobile phone','table']})

arrays = [['Falcon', 'Falcon', 'Parrot', 'Parrot'],
          ['Captive', 'Wild', 'Captive', 'Wild']]
index = pd.MultiIndex.from_arrays(arrays, names=('Animal', 'Type'))
df = pd.DataFrame({'Max Speed': [390., 350., 30., 20.]},
                  index=index)

row = pd.Series(['X0', 'X1', 'X2', 'X3'], index=['A', 'B', 'C', 'D'])

pieces = {'x': df1c, 'y': df2c, 'z': df3c}

frames = [df1c, df2c, df3c]

In [186]:
coDaSe = CombiningDataSet(df1m,df2m,None,None)
print(coDaSe.mergeOnJoin('Customer_id',"inner"))
print("\n")

coDaSe1 = CombiningDataSet(df1a,df2a,None,None)
print(coDaSe1.mergeOnIndex()) 
print("\n")

coDaSe2 = CombiningDataSet(df3,df4,None,None)
print(coDaSe2.mergeOneToOne())
print("\n")

print(coDaSe2.mergeBySuffix("name"))
print("\n")



#Testing groupby
print("Testing groupby \n")
coDaSe2 = CombiningDataSet(dfg,None,None,None)

groupedData = coDaSe2.groupBy("product")
print(coDaSe2.groupByFilter(groupedData,'value',4))
print(coDaSe2.aggrGroupedDT(groupedData))

   Customer_id     Product       State
0            2        Oven  California
1            4  Television  California
2            6  Television       Texas


                group  hire_date
employee
Bob        Accounting       2008
Jake      Engineering       2012
Lisa      Engineering       2004
Sue                HR       2014


Empty DataFrame
Columns: [name, rank]
Index: []


   name  rank_L  rank_R
0   Bob       1       3
1  Jake       2       1
2  Lisa       3       4
3   Sue       4       2


Testing groupby

    value       product
0   20.45         table
1   22.89         chair
2   32.12         chair
3  111.22  mobile phone
4   33.22         table
5  100.00  mobile phone
6   99.99         table
               value                                                           \
                 sum     mean        std    amax    amin   median         var
product
chair          55.01   27.505   6.526596   32.12   22.89   27.505    42.59645
mobile phone  211.22  105.610   7.933738  111.22  100.00  105.610    62.94420
table         153.66   51.220  42.715956   99.99   20.45   33.220  1824.65290


             count
product
chair            2
mobile phone     2
table            3

In [94]:
# Testing concat
coDaSe3 = CombiningDataSet(df1c,df2c,df3c,df4c)
print(coDaSe3.appendRow(row, ignore_index=True))
print("\n")
print(coDaSe3.concat([df1c, df4c], axis=1, sort=False))
print('\n')
print(coDaSe3.concat(frames, keys=['x', 'y', 'z']))
print("\n")
print(coDaSe3.concat([df1c, df4c], axis=1, join='inner'))
print("\n  Reusing the exact index from the original DataFrame")
print(coDaSe3.concat([df1c, df4c.reindex(df1c.index)], axis=1))
print('\n Ignoring indexes on the concatenation axis')
print(coDaSe3.concat([df1c, df4c], ignore_index=True, sort=False))
print("\n Using dict to define keys")
print(coDaSe3.concat(pieces))

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3
4  X0  X1  X2  X3


     A    B    C    D    B    D    F
0   A0   B0   C0   D0  NaN  NaN  NaN
1   A1   B1   C1   D1  NaN  NaN  NaN
2   A2   B2   C2   D2   B2   D2   F2
3   A3   B3   C3   D3   B3   D3   F3
6  NaN  NaN  NaN  NaN   B6   D6   F6
7  NaN  NaN  NaN  NaN   B7   D7   F7


        A    B    C    D
x 0    A0   B0   C0   D0
  1    A1   B1   C1   D1
  2    A2   B2   C2   D2
  3    A3   B3   C3   D3
y 4    A4   B4   C4   D4
  5    A5   B5   C5   D5
  6    A6   B6   C6   D6
  7    A7   B7   C7   D7
z 8    A8   B8   C8   D8
  9    A9   B9   C9   D9
  10  A10  B10  C10  D10
  11  A11  B11  C11  D11


    A   B   C   D   B   D   F
2  A2  B2  C2  D2  B2  D2  F2
3  A3  B3  C3  D3  B3  D3  F3

  Reusing the exact index from the original DataFrame
    A   B   C   D    B    D    F
0  A0  B0  C0  D0  NaN  NaN  NaN
1  A1  B1  C1  D1  NaN  NaN  NaN
2  A2  B2  C2  D2   B2   D2   F2
3  A3  B3  C3  D3   B3   D3   F3

 Ignoring indexes on the concatenation axis
     A   B    C   D    F
0   A0  B0   C0  D0  NaN
1   A1  B1   C1  D1  NaN
2   A2  B2   C2  D2  NaN
3   A3  B3   C3  D3  NaN
4  NaN  B2  NaN  D2   F2
5  NaN  B3  NaN  D3   F3
6  NaN  B6  NaN  D6   F6
7  NaN  B7  NaN  D7   F7

 Using dict to define keys
        A    B    C    D
x 0    A0   B0   C0   D0
  1    A1   B1   C1   D1
  2    A2   B2   C2   D2
  3    A3   B3   C3   D3
y 4    A4   B4   C4   D4
  5    A5   B5   C5   D5
  6    A6   B6   C6   D6
  7    A7   B7   C7   D7
z 8    A8   B8   C8   D8
  9    A9   B9   C9   D9
  10  A10  B10  C10  D10
  11  A11  B11  C11  D11

In [140]:
coDaSe4 = CombiningDataSet(df,None,None,None)
print(coDaSe4.groupByLevelCount(level=0))
print(coDaSe4.groupByLevelMean(level=0))
print(coDaSe4.groupByLevelMin(level=0))
print(coDaSe4.groupByLevelMax(level=0))
print(coDaSe4.groupByLevelMedian(level=0))
print(coDaSe4.groupByLevelSum(level=0))

        Max Speed
Animal
Falcon          2
Parrot          2
        Max Speed
Animal
Falcon      370.0
Parrot       25.0
        Max Speed
Animal
Falcon      350.0
Parrot       20.0
        Max Speed
Animal
Falcon      390.0
Parrot       30.0
        Max Speed
Animal
Falcon      370.0
Parrot       25.0
        Max Speed
Animal
Falcon      740.0
Parrot       50.0

In [143]:
print(coDaSe4.stack())
print("\n")
print(coDaSe4.unstack())
print("\n")
print(coDaSe4.transpose())

Animal  Type
Falcon  Captive  Max Speed    390.0
        Wild     Max Speed    350.0
Parrot  Captive  Max Speed     30.0
        Wild     Max Speed     20.0
dtype: float64


       Max Speed
Type     Captive   Wild
Animal
Falcon     390.0  350.0
Parrot      30.0   20.0


Animal     Falcon         Parrot
Type      Captive   Wild Captive  Wild
Max Speed   390.0  350.0    30.0  20.0

# Operations on dataFrame

In [202]:
df1o = pd.DataFrame({'A': [1, 2, 3], 'B': [3, 4, 8]})
df2o = pd.DataFrame({'A': [1, 2, 4], 'C': [7, 5, 9]})

In [206]:
coDaSe5 = CombiningDataSet(df1o,df2o,None,None)

print(coDaSe5.add(10))
print("\n")
print(coDaSe5.multiplyByValue(10))
print("\n")
print(coDaSe5.extract(10))
print("\n")
print(coDaSe5.power(10))
print("\n")
print(coDaSe5.multiplyByValue(10))
print("\n")
print(coDaSe5.operationsOnColumn(10,"A","*"))
print("\n")
print(coDaSe5.addDfToDt())

     A   B
0  110  13
1  210  14
2  310  18


      A   B
0  1000  30
1  2000  40
2  3000  80


          A         B
0  0.100000  3.333333
1  0.050000  2.500000
2  0.033333  1.250000


                     A           B
0  7766279631452241920       59049
1  2123646838278979584     1048576
2  4988285203979960320  1073741824


      A   B
0  1000  30
1  2000  40
2  3000  80


      A  B
0  1000  3
1  2000  4
2  3000  8


       A   B   C
0   1000 NaN NaN
1   4000 NaN NaN
2  12000 NaN NaN